:root {
  --space-xs: 2px;
  --space-s: 5px;
  --space-m: 10px;
  --space-l: 20px;
  --space-xl: 50px;
  --space-xxl: 100px;
  --bar: 60px;
  --left-panel-size: 400px;
  --left-block: calc( var(--bar) + var(--left-panel-size) );
  --gap: 20px;
  --tab: 50px;
  --editor-header: 60px;
}

:root {
  --action: #1389fd;
  --action-op-1: rgba(19, 136, 253, 0.1);
  --action-op-2: rgba(19, 136, 253, 0.2);
  --action-op-5: rgba(19, 136, 253, 0.5);
  --action-hi: white;
  --bg1: #f7f7f7;
  --bg2: #ededed;
  --bg3: #e1e1e1;
  --bg4: #9b9b9b;
  --text1: rgb(14, 14, 14);
  --text2: rgb(111, 111, 111);
  --border: #d2d2d2;
  --disabled: #dddddd;
  --editor: #ffffff;
  --success: #008c24;
}

[data-theme=dark] {
  --action: #33aaff;
  --bg1: #2C2F33;
  --bg2: #3D4048;
  --bg3: #545860;
  --bg4: #7e8288;
  --text1: white;
  --text2: darkgrey;
  --border: #525252;
  --disabled: #51555a;
  --editor: #1e1e1e;
  --success: #00d637;
}

/*=============================================
=                   Mixins                   =
=============================================*/
/*=============================================
=                   Cards                   =
=============================================*/
.swk_admin_card {
  max-width: 800px;
  background-color: white;
  margin: 20px 0;
}

.swk_admin_header {
  padding: 10px 30px;
  border-bottom: 1px solid var(--bg2);
}

.swk_admin_body {
  padding: 30px;
}

.swk_admin_footer {
  padding: 30px;
}

.wp-core-ui .button-primary {
  background: var(--action);
  border-color: var(--action);
}
.wp-core-ui .button-primary:hover {
  background: var(--action);
  border-color: var(--action);
}

#reorder-code-blocks li {
  position: relative;
  padding-left: 30px;
  border-bottom: 1px solid #f0f0f1;
  padding: 6px 10px 6px 40px;
  margin: 0;
  position: relative;
}
#reorder-code-blocks li:last-child {
  border-color: transparent;
}
#reorder-code-blocks .move {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/drag.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  opacity: 0.2;
  cursor: move;
}
#reorder-code-blocks .move:hover {
  opacity: 1;
}
